.toggle-container {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
  }
  
  .toggle-container input[type="checkbox"] {
    display: none;
  }
  
  .toggle-label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #673ab7;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .toggle-label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #e1d8f1;
    transition: transform 0.2s;
  }
  
  .toggle-container input[type="checkbox"]:checked + .toggle-label::before {
    transform: translateX(30px);
  }
//slab
  .slab-name{
    display: flex;
  }

  .slab-salary{
    display: flex;
  }


  //submit button
  .submit-btn{
    color: #673ab7;
    border-color: #e1d8f1;
    background-color: #e1d8f1;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
  }
  .submit-btn:hover{
    background-color:#673ab7;
    color:#fff;
    box-shadow: 1px 16px 32px #000;
  }
  .submit-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
.salary-slab-main{
    margin: 50px;
    @media(max-width:576px){
        margin: 20px; 
    }
}
.slab-salary{
    display: flex;
    gap: 50px;
    @media(max-width:576px){
     flex-direction: column;
     gap: 20px;
    }
}
.pf-exempt{
    display: flex;
    align-items: center;
    p{
        width:100px;
        margin-bottom: 0px;
    }
}

.input-section{
    margin-top: 20px;
}
  .input-name-salary p{

    width: 200px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
  }

  .input-section-salary{
    display: flex;
    align-items: center;
    @media(max-width:576px){
        flex-direction: column;
        align-items: baseline; 
    }
    p{
        width:200px;
        margin-bottom: 0px;

        @media(max-width:576px){
            margin-bottom: 10px;
        }
    }
  }

  .mt-20{
    margin-top: 20px;
  }