<div class="heading-common">
    <h1 class="manage-department">
        Manage Sub-Department
    </h1>
</div>
<!-- Add Sub Department -->
<div class="add-department">
    <button class="add-department-btn" (click)="openAddModal(addsubDepartment)">Add Sub Department</button>
</div>

<ng-template #addsubDepartment let-modal>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-basic-title">Add Sub Department</h3>
        <span aria-hidden="true" class="close-icon" (click)="modal.dismiss('Cross click')">×</span>
    </div>

    <div class="modal-body">
        <form [formGroup]="subdepartmentForm" (ngSubmit)="onSubDepartmentSubmit()">
            <div class="form-group">
                <label for="departement" class="dep-label">Department Name</label>
                <select type="text" class="form-control" id="department" formControlName="department">
                    <option value="" selected>Select department <img src="../../../../../assets/images/down-arrow.png">
                    </option>
                    <option value={{department.id}} *ngFor="let department of this.departmentDataActive">{{department.name}}
                    </option>
                </select>
            </div>
            <div *ngIf="submitted &&  f.department.errors && f.department.errors.required" class="invalid-feedback">
                Department is required
            </div>
            <div class="form-group pt-10">
                <label for="departement" class="dep-label">Sub Department</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div *ngIf="submitted &&  f.name.errors && f.name.errors.required" class="invalid-feedback">
                Sub Department is required
            </div>
            <div *ngIf="submitted &&  f.name.errors && f.name.errors.maxlength" class="invalid-feedback">
                Sub Department should accept only 50 characters.
            </div>
            <div *ngIf="submitted &&  f.name.errors && f.name.errors.pattern" class="invalid-feedback">
                Sub Department should accept only alphabets.
            </div>
            <div class="modal-footer save-btn">
                <button type="submit" class="add-department-btn">Save</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Edit Sub Department -->
<ng-template #editsubDepartment let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Sub Department</h4>
        <span aria-hidden="true" class="close-icon" (click)="modal.dismiss('Cross click')">×</span>
    </div>
    <div class="modal-body">
        <form [formGroup]="editsubdepartmentForm" (ngSubmit)="editSubDepartmentSubmit()">
            <div class="form-group">
                <label for="departement" class="dep-label">Department Name</label>
                <select type="text" class="form-control" id="department" formControlName="department">
                    <option value="" selected>Select department <img src="../../../../../assets/images/down-arrow.png">
                    </option>
                    <option value={{department.id}} *ngFor="let department of this.departmentDataActive">{{department.name}}
                    </option>
                </select>
            </div>
            <div *ngIf="submitted &&  g.department.errors && g.department.errors.required" class="invalid-feedback">
                Department is required
            </div>
            <div class="form-group pt-10">
                <label for="departement" class="dep-label">Sub Department</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div *ngIf="submitted &&  g.name.errors && g.name.errors.required" class="invalid-feedback">
                Sub Department is required
            </div>
            <div *ngIf="submitted &&  g.name.errors && g.name.errors.maxlength" class="invalid-feedback">
                Sub Department should accept only 50 characters.
            </div>
            <div *ngIf="submitted &&  g.name.errors && g.name.errors.pattern" class="invalid-feedback">
                Sub Department should accept only alphabets.
            </div>
            <div class="modal-footer save-btn">
                <button type="submit" class="add-department-btn">Save</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Sub Department List -->
<div class="table-emp">
    <table datatable [dtOptions]="dtOptions" class="row-border hover  table-responsive" *ngIf=" this.showSubDepTable">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Department</th>
                <th>Sub Department</th>
                <th>Edit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-content" *ngFor="let subdepartment of this.subdepartmentData;let i=index">
                <td>{{i+1}}</td>
                <td>{{subdepartment.department.name}}</td>
                <td>{{subdepartment.name}}</td>
                <td  (click)="openEditModal(editsubDepartment,subdepartment.id)"><img
                        src="../../../../../assets/images/editIcon.png" class="edit-icon"  *ngIf="subdepartment.isActive=== 1? true:false"></td>
                <td [ngClass]="{'pl-30': subdepartment.isActive===1}"><img src="../../../../../assets/images/delete-icon.png" class="edit-icon" (click)="deleteSubDepartment(subdepartment.id,subdepartment.name)" *ngIf="subdepartment.isActive===1 ? true:false"><span class="dep-activate"  (click)="activateSubDepartment(subdepartment.id,subdepartment.name)" *ngIf="subdepartment.isActive=== 0? true:false">Activate</span></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
</div>

<!-- Loader -->
<div class="fade show" *ngIf="this.showDepLoader"
  style="text-align: center; padding-top: calc(100vh / 2); height: 100vh">
  <i class="spinner-grow spinner-grow-sm"></i>
  <span class="m-1">Loading...</span>
</div>