<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Designation</th>
			<th scope="col">Employee Code</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let country of countries">
			<th scope="row">{{ country.id }}</th>
			<td>
				{{ country.name }}
			</td>
			<td>{{ country.designation}}</td>
			<td>{{ country.empcode }}</td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="refreshCountries()"
	>
	</ngb-pagination>

	<select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
		<option [ngValue]="2">2 items per page</option>
		<option [ngValue]="4">4 items per page</option>
		<option [ngValue]="6">6 items per page</option>
	</select>
</div>